/*
    Outline es la propiedad que nos permite dibujar un borde por fuera del modelo de caja.
    Es un shorthand que engloba
        outline-width: Controla el ancho del ouline
        outline-style: Controla el estilo del outline
        outline-color: Controla el color del outline

    Tiene las mísmas propiedades y sintaxis que border, pero con algunas diferencias.
        No ocupa sitio, ya que no forma parte del box-model
        No se puede redondear
        No se pueden controlar los lados de forma independiente

    También cuenta con la propiedad outline-offset, que nos permite aumentar o disminuir la distancia del outline respecto a la caja a la que pertence
*/

*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body{
    background-color: #333;
    color: #fff;
}

.border,
.outline{
    background-color: #666;
    padding: 10px 25px;
    margin: 50px 100px;
    width: 100px;
}

.border{
    border: 1px magenta solid;
}

.outline{
    outline: 3px magenta inset;
    outline-offset: -13px;
    border: 3px green solid;
}