/* 
    Margin:
        Es la propiedad que nos permite generar espacio entre elementos.
        Es un shorthand (propiedad abreviada) que controla los 4 lados posibles a los que dar m치rgenes.
        margin-top: Margen superior
        margin-right: Margen derecho
        margin-bottom: Margen inferior
        margin-left: Margen izquierdo

        Admite hasta 4 valores que van en el orden de las agujas del reloj.
        4 valores -> margin:top right bottom left;
        3 valores -> margin: top left/right bottom;
        2 valores -> margin: top/bottom left/right;
        1 valor -> margin: top/right/bottom/left

    Padding:
        Es la propiedad que nos permite generar espacio interno entre el borde y la caja
        Es un shorthand (propiedad abreviada) que controla los 4 lados posibles a los que dar padding.
        padding-top: padding superior
        padding-right: padding derecho
        padding-bottom: padding inferior
        padding-left: padding izquierdo

        Admite hasta 4 valores que van en el orden de las agujas del reloj.
        4 valores -> padding:top right bottom left;
        3 valores -> padding: top left/right bottom;
        2 valores -> padding: top/bottom left/right;
        1 valor -> padding: top/right/bottom/left

    Border:
        Es la propiedad que nos permite modificar el borde de la caja
        Es un shorthand (propiedad abreviada) que agrupa 3 propiedades
            border-width: ancho del borde
                border-top-width
                border-right-width
                border-bottom width
                border-left-width
            border-style: estilo del borde
                border-top-style
                border-right-style
                border-bottom style
                border-left-style
                Listado de valores para style:
                    none
                    hidden
                    dotted
                    dashed
                    solid
                    double
                    groove
                    ridge
                    inset
                    outset
            border-color: color del borde
                border-top-color
                border-right-color
                border-bottom color
                border-left-color

    Box-sizing:
        Es la propiedad que nos permite controlar el c치lculo que hace el navegador a la hora de modificar las propiedades content, padding y border.
        Los 2 valores que podemos darle son
            content-box -> Valor por defecto
            border-box -> C치lculo de tama침o del elemento incluyendo el padding y el border.
*/



/* 
Box model elementos block e inline

body{
    background-color: #333;
    color: white;
}

.box{
    background-color: tomato;
    width: 100px;
    height: 100px;
    color: inherit;
}

.inline{
    background-color: lightpink;
    color: inherit;
} */


/*
    Se recoimienda utilizar el selector universal para el
    box-sizing
*/
*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}


body{
    background-color: #333;
    color: white;
    margin: 0;
}

.header{
    background-color: brown;
    height: 50px;
}


.title{
    background-color: khaki;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.box{
    background-color: tomato;
    width: 100px;
    height: 100px;
    /* margin: 100px 50px 10px 200px;
    color: inherit;
    padding-top: 100px 20px 50px 30px; */
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.inline{
    background-color: lightpink;
    color: inherit;
    margin-right: 100px;
    margin-left: 100px;
    /* padding-left: 100px; 
    padding-bottom: 100px;*/
}

.buttons{
    margin-top: 20px;
    background-color: steelblue;
    padding-top: 20px;
    padding-bottom: 20px;
}

.button{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 25px 50px;
    border: 10px solid saddlebrown;
    border-style: dashed;
}